
/*



header {
  background-color: hsla(164, 100%, 50%, 0.455);
  color: #fff;
  padding: 20px;
  text-align: center;
}

section {
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  opacity: 0;
}

.card {
  width: 300px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, opacity 0.5s ease-in-out;
  background-color: #fff;
  overflow: hidden;
  border: 2px solid hwb(129 5% 20% / 0.529);
  border-radius: 10px;
transition: border-color 0.3s ease-in-out;
}


.card:hover {
  transform: scale(1.05);
  border-color: aqua;
}

.card-body {
  text-align: center;
  padding: 20px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-group button {
  margin: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-group button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}


*/


.abc{
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, hsla(195, 15%, 95%, 0.464), hwb(120 2% 5%)); 

}


.container1 {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  background:-o-linear-gradient(green navy)

}

.container-card1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card1 {
  background: linear-gradient(to bottom, hwb(154 90% 7%), hwb(270 88% 9%));
  border-radius: 12px;
  overflow: hidden;
  margin: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: transform 0.3s ease-in-out;
}

.card1:hover {
  transform: translateY(-10px);
}

.card-body1 {
  padding: 20px;
  text-align: justify;
}

.btn-group1 {
  margin-top: 25px;
}

.btn-primary1 {
  background: linear-gradient(to right, #007bff, #0056b3);
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 25px;
  transition: background 0.3s ease-in-out;
}

.btn-primary1:hover {
  background: linear-gradient(to right, hsla(149, 100%, 35%, 0.809), #007bff);
}
