
.sectionabc{
  font-family: 'Arial', sans-serif;
  margin-top: 80;
  padding-top: 40;
  /*background: linear-gradient(180deg, hsla(195, 15%, 95%, 0.464), hwb(26 69% 5%)); */

}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
#containerCard1{
  margin-top: 40px;
  animation: fadeIn 2s ease-in-out;
}

.container1 {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
}

.exploreoffering{
  color: green;
  text-align: center;
  font-weight: bold;
  padding: 60px;
 
}

.exploreoffering:hover{
  color: navy;
}



h4 {
  text-align: center;
  margin-bottom: 30px;
  color: aqua;


}

.container-card1 {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
  height: 500px;
  

}

.card1 {
  background: linear-gradient(to bottom, hwb(154 90% 7%), hwb(270 88% 9%));
  border-radius: 12px;
  overflow: hidden;
  margin: 15px;
  box-shadow: 2px 10px 10px 8px rgb(107, 106, 106);
  width: 300px;
  transition: transform 0.3s ease-in-out;
  height: 250px;
  
}

.card1:hover {
  transform: translateY(-10px);
}

.card-body1 h5 {
  padding: 30px;
  text-align: justify;
  color: navy;
  font-weight: bold;
  
}

.btn-group1 {
  margin-top: 0px;
  display: flex;
  padding: 0px;
  margin-bottom: 30px;
}

.btn-primary1 {
  background: linear-gradient(to right, #12a42f, #26a666);
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 25px;
  transition: background 0.3s ease-in-out;
  margin-left: 230px;
}

.btn-primary1:hover {
  background: linear-gradient(to right, hsla(149, 100%, 35%, 0.809), #007bff);
}
