/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/



  
  .h1{
    
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    color: white;
  
  }
  .cta {
      background: linear-gradient(rgba(5, 133, 114, 0.103),rgb(42, 42, 113)), url("/image/ctabg3.jpg") fixed center center;
      background-size: cover;
      padding: 120px 10px;
      margin-top: 20px;
    
    }
    
    .cta h3 {
      color: #fff;
      font-size: 28px;
      font-weight: 700;
      margin-top: 20px;
    }
    
    .cta p {
      color: #fff;
    }
    
    .cta .cta-btn {
      font-family: "Raleway", sans-serif;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 15px;
      letter-spacing: 0.5px;
      display: inline-block;
      padding: 8px 26px;
      border-radius: 2px;
      transition: 0.5s;
      margin: 10px;
      border-radius: 50px;
      border: 2px solid green;
      color: #fff;
    }
    
    .cta .cta-btn:hover {
      background: green;
    }
    
    @media (max-width: 1024px) {
      .cta {
        background-attachment: scroll;
      }
    }
    
    @media (min-width: 769px) {
      .cta .cta-btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  
  
    /*editors*/
    
    #cards{
      margin-left: 150px;
      padding-bottom: 60px;
      
  
      
    }
    .card {
      padding-top: auto;
      margin-bottom: 70px;
      border: 1px solid green;
      border-radius: 15px;
      box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.2s ease-in-out;
      height: 70%;
      width: 70%;    
      margin-left: 30px;
      
    }
    
    .card:hover {
      transform: scale(1.02); 
      box-shadow: 0px 0px 15px 8px black ; 
    }
    .card-img-top{
      width: 30%;
      height: 30%;  
      display: block; 
      margin: auto;
    }

    .card-title{
      background-color:rgb(175, 175, 210);
    }
    
    
    /*js*/
    @keyframes fadeInUp {
      from {
        opacity: 0;
        transform: translateY(80px);
      }
      to {
        opacity: 4;
        transform: translateY(4);
      }
    }
    
    .fadeInUp {
      animation-name: fadeInUp;
      animation-duration: 2s;
    }
    