 section {
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8); 
    max-width: 1700px;
    
  }

  section h2{
    color: green;
    padding: 30px;
    text-align: center;
   
  }

  section h2:hover{
    color: navy;
  }
  
  section h3 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: navy;
  }

  p{
    color: black;
    font-size: large;
  }

  section ul {
    list-style-type: none;
    padding: 0;
  }
  
  section ul li {
    margin-bottom: 0px;
  }
  
  section ul li:before {
    content: "•";
    color: #333;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-right: 5px;
  }
  
  
  .animated-content {
    animation: slideRight 1s ease forwards;
  }

  @keyframes slideRight {
    from {
      transform: translateX(-150%);
      opacity: 0;
    }
    to {
      transform: translateX(5);
      opacity: 4;
    }
  } 