
.ppcontainer {
    width: 80%;
    margin: auto;
    padding: 50px;
    background-color: blind;
    border-radius: 10px;
    box-shadow: 5px 5px 10px greenyellow(0, 0, 0, 0.1);
    margin-top: 20px;
    padding-bottom: 100px;
}

h1 {
   padding: 30px;
    text-align: center;
    color: green;
}

p {
    line-height: 1.6;
    padding: 20px;
    color: black;
    font-size: large;
}

.highlight {
    background-color: rgb(236, 218, 173);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 80%;
    margin-left: 150px
    
    
}

.hidden {
    display: none;
    padding: 16px;
}


.lrn-btn{
    background-color: green;
    color: #fff;
    border: solid 1px black;
    border-radius: 10px;
    padding: 5px;
    align-self: center;
    margin-left: 45%;
}
button:hover{
background: linear-gradient(to right, hsla(149, 100%, 35%, 0.809), navy);
}


.animated-content {
    animation: slideRight 1s ease forwards;
  }

  @keyframes slideRight {
    from {
      transform: translateX(-150%);
      opacity: 0;
    }
    to {
      transform: translateX(5);
      opacity: 4;
    }
  }